<h1>Posts</h1>

<div class="posts" data-turbo = 'false'>
  <% @posts.each do |post| %>
    <div class="title"><%= post.title%></div>
    <div class="body"><%= post.body %></div>

    <% if user_signed_in? %>
      <div class="author"><%= User.find(post.user_id).username %></div>
    <% end %>
  <% end %>
</div>